.container{
    width: 90%;
    padding:5% 5%;
    margin-top: 30px;
}

.head{
   font-size: 1.5rem;
   margin-bottom: 5%;
   font-weight: bold;
   text-align: left;
}


.title{
    font-size: 2rem;
    text-align: left;
    font-weight: bolder;
}

.date{
    text-align: left;
    margin-bottom: 10px;
}

.blog-content-container{
    width:100%;
    padding:5% 0;
    font-size: 1.2rem;
    line-height: 1.5;
}
