.container{
    width: 90%;
    margin: 0% 5%;
}

.head{
   font-size: 25px;
   margin-bottom: 5%;
   font-weight: bold;
   text-align: left;
}


.title{
    font-size: 35px;
    text-align: left;
    font-weight: bolder;
}

.date{
    text-align: left;
    margin-bottom: 5%;
}

.blog-content-container{
    width:100%;
    margin:5% auto;
    font-size: 20px;
}

.authorDes{
    width:70%;
    float:right;
    display: block;
    margin-right: 15%;

}